body {
  background-color: rgba(7, 7, 7, 0.952);
}

#mainPage {
  margin-left:  10%;
  margin-right: 10%;
  padding-left: 5%;
  padding-right: 5%;
  
  background-image: url("../img/stars.png");
  
  background-position: center;
  background-attachment: fixed;
 
  color: rgba(223, 221, 129, 0.863);
}

.great {
  font-style: italic;
  font-weight: bold;
}

h1 {
  color: rgb(155, 252, 179);
}
h4 {
  color: chartreuse;
}

.portrait { 
  float: right;
}

.icon-container {
  display:flex;
  align-items:center;
  flex-direction: row;
}

.icon {
padding-right: 20px;
}
.no-icon{
  padding-left: 50px;
}
.icon-text{
  font-size: 15px;
}

/* 

code does not do what I want it to do but a good start for something possible in the future

 .threeSlide {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}


 @keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: 40%;
    left: 10%;
  }
} */

