body {
  margin-left: 10%;
  margin-right:10%;
  
  background-image: url("../img/stars.png");
  background-position: center;
  background-attachment: fixed;
 
  color: rgba(238, 237, 192, 0.863);
}

.vg {
  
  max-width: 25%;
}

.games {
  color:aqua;
  background-color: blue;
  display: grid;
  grid-template-columns: min-content 1fr;

}

.icon-container {
  display:flex;
  align-items:center;
  flex-direction: row;
}

.box {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr, 1fr, 1fr;
  column-gap: 5px;
}

.icon {
padding-right: 20px;
}
.no-icon{
  padding-left: 50px;
}
.icon-text{
  font-size: 15px;
}

/* 
.icon {

  margin-right: 30px;
  display: inline;
} */

/* 
body {
  display: grid;
  grid-template-columns: min-content 1fr;
} 

or make fig

*/